<!doctype html>
<html class="no-js" lang="en">


<!-- Mirrored from itcroctheme.com/FireFoxExprex/FireFoxExprex-html/contact.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 13 Apr 2025 15:07:53 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>FireFoxExprex || Responsive HTML 5 Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- bootstrap bi cdn -->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">


    <!-- CSS here -->
    <link rel="stylesheet" href="assets/css/01-bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/02-all.min.css">
    <link rel="stylesheet" href="assets/css/03-jquery.magnific-popup.css">
    <link rel="stylesheet" href="assets/css/04-nice-select.css">
    <link rel="stylesheet" href="assets/css/05-odometer.css">
    <link rel="stylesheet" href="assets/css/06-swiper.min.css">
    <link rel="stylesheet" href="assets/css/07-animate.min.css">
    <link rel="stylesheet" href="assets/css/08-custom-animate.css">
    <link rel="stylesheet" href="assets/css/09-slick.css">
    <link rel="stylesheet" href="assets/css/10-icomoon.css">
    <link rel="stylesheet" href="assets/vendor/custom-animate/custom-animate.css">
    <link rel="stylesheet" href="assets/vendor/jarallax/jarallax.css">
    <link rel="stylesheet" href="assets/vendor/odometer/odometer.min.css">

    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
</head>

<body class="body-gray-bg">

    <!-- preloader -->
    <div id="preloader">
        <div id="loading-center">
            <div class="loader">
                <div class="loader-outter"></div>
                <div class="loader-inner"></div>
            </div>
        </div>
    </div>
    <!-- preloader-end -->

        <%- include('../layout/client_header.ejs') %>

        <!--Start Page Header-->
        <section class="page-header">
            <div class="page-header__img float-bob-y"><img src="assets/img/resource/page-header-img.png" alt=""></div>
            <div class="container">
                <div class="page-header__inner">
                    <h2>Contact Details</h2>
                    <ul class="thm-breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li><span class="icon-left"></span></li>
                        <li>Contact </li>
                    </ul>
                </div>
            </div>
        </section>
        <!--End Page Header-->
        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <% if(error_msg  && error_msg.length > 0 ){ %>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>Error!</strong>  <%= error_msg %>              
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <%} %>
                    
                    <% if(success_msg  && success_msg.length > 0 ){ %>
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>Awesome!</strong> <%= success_msg %>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <%} %>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>


        <!--Contact One Start-->
        <section class="contact-one">
            <div class="container">
                <div class="sec-title text-center">
                    <div class="sub-title">
                        <h4>Contact us</h4>
                    </div>
                    <h2>
                        Get in Touch With Us
                    </h2>
                </div>
                <div class="row">

                    <div class="col-xl-4">
                        <div class="contact-one__list-item">
                            <ul>
                                
                                <li>
                                    <div class="icon">
                                        <span class="icon-envelope"></span>
                                    </div>
                                    <div class="text">
                                        <h4>Send us email</h4>
                                        <p>
                                            <a href="mailto:demo0023yourmailhotmail.com">demo0023yourmailhotmail.com</a>
                                        </p>
                                        <p>
                                            <a href="mailto:demo23yourmail.com">demo23yourmail.com</a>
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-xl-6 col-lg-12">
                        <div class="contact-one__form">
                            <form action="/contact" method="POST">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6">
                                        <div class="contact-one__input-box">
                                            <input type="text" placeholder="Full name" name="name">
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6">
                                        <div class="contact-one__input-box">
                                            <input type="email" placeholder="Email Address" name="email">
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6">
                                        <div class="contact-one__input-box">
                                            <input type="number" placeholder="Mobile" name="number">
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6">
                                        <div class="contact-one__input-box">
                                            <input type="text" placeholder="subject" name="subject">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="contact-one__input-box text-message-box">
                                            <textarea name="message" placeholder="Messege"></textarea>
                                        </div>
                                        <div class="contact-one__btn-box">
                                                                                        
                                            <button class="thm-btn" type="submit" data-loading-text="Please wait...">
                                                    Submit Now
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <p class="ajax-response mb-0"></p>
                        </div>
                    </div>

                    <div class="col-xl-2">
                        <div class="contact-one__socel-link">
                            <div class="contact-one__socel-link-inner">
                                <ul>
                                   <li>
                                    <a href="https://wa.link/1svtfa">
                                        <i class="bi bi-whatsapp"></i>

                                    </a>
                                </li>
                                <li>
                                    <a href="t.me/FireFireFoxExprex">
                                        <i class="bi bi-telegram"></i>
                                    </a>
                                </li>
                                </ul>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </section>
        <!--Contact One End-->



        <!--Start Google Map One-->
        <section class="google-map-one">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4562.753041141002!2d-118.80123790098536!3d34.152323469614075!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80e82469c2162619%3A0xba03efb7998eef6d!2sCostco+Wholesale!5e0!3m2!1sbn!2sbd!4v1562518641290!5m2!1sbn!2sbd"
                class="google-map-one__map" allowfullscreen></iframe>
        </section>
        <!--End Google Map One-->






        <!--Start Cta One-->
        <section class="cta-one cta-one--style2">
            <div class="container">
                <div class="cta-one__inner cta-one__inner--style2">
                    <div class="cta-one__inner-box cta-one__inner-box--style2">
                        <div class="title-box">
                            <h2>Efficiency in Motion Connecting the<br>World One Delivery at a Time!</h2>
                        </div>
                    </div>
                    <div class="cta-one__btn cta-one__btn--style2">
                        <a href="/contact" class="thm-btn">
                            <span class="txt">
                                contact us
                            </span>
                        </a>
                    </div>

                </div>
            </div>
        </section>
        <!--End Cta One-->

    <%- include('../layout/client_footer.ejs') %>



</body>



</html>