<!doctype html>
<html class="no-js" lang="en">


<!-- Mirrored from itcroctheme.com/FireFoxExprex/FireFoxExprex-html/faq.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 13 Apr 2025 15:07:42 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>FireFoxExprex || Responsive HTML 5 Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- bootstrap bi cdn -->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">


    <!-- CSS here -->
    <link rel="stylesheet" href="assets/css/01-bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/02-all.min.css">
    <link rel="stylesheet" href="assets/css/03-jquery.magnific-popup.css">
    <link rel="stylesheet" href="assets/css/04-nice-select.css">
    <link rel="stylesheet" href="assets/css/05-odometer.css">
    <link rel="stylesheet" href="assets/css/06-swiper.min.css">
    <link rel="stylesheet" href="assets/css/07-animate.min.css">
    <link rel="stylesheet" href="assets/css/08-custom-animate.css">
    <link rel="stylesheet" href="assets/css/09-slick.css">
    <link rel="stylesheet" href="assets/css/10-icomoon.css">
    <link rel="stylesheet" href="assets/vendor/custom-animate/custom-animate.css">
    <link rel="stylesheet" href="assets/vendor/jarallax/jarallax.css">
    <link rel="stylesheet" href="assets/vendor/odometer/odometer.min.css">

    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
</head>

<body class="body-gray-bg">

    <!-- preloader -->
    <div id="preloader">
        <div id="loading-center">
            <div class="loader">
                <div class="loader-outter"></div>
                <div class="loader-inner"></div>
            </div>
        </div>
    </div>
    <!-- preloader-end -->

        <%- include('../layout/client_header.ejs') %>


        <!--Start Page Header-->
        <section class="page-header">
            <div class="page-header__img float-bob-y"><img src="assets/img/resource/page-header-img.png" alt=""></div>
            <div class="container">
                <div class="page-header__inner">
                    <h2>FAQ</h2>
                    <ul class="thm-breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li><span class="icon-left"></span></li>
                        <li>FAQ</li>
                    </ul>
                </div>
            </div>
        </section>
        <!--End Page Header-->



        <!--Start FAQ One-->
        <section class="faq-one faq-one--faq">
            <div class="container">
                <div class="sec-title text-center">
                    <div class="sub-title">
                        <h4>FAQ</h4>
                    </div>
                    <h2>
                        Discover FAQ from here
                    </h2>
                </div>
                <div class="row">
                    <div class="col-xl-6">
                        <div class="faq-one__content">
                            <div class="accordion-box-one">
                                <!--Start single accordion box-->
                                <div class="accordion accordion-block">
                                    <div class="accord-btn active">
                                        <h3>
                                            Q1. How do I track my shipment?
                                        </h3>
                                    </div>
                                    <div class="accord-content collapsed">
                                        <p>
                                           You can track your shipment by entering your tracking number in the 
                                           tracking field on our homepage and clicking “Track”.
                                           Your shipment’s current status and location will be displayed instantly.
                                        </p>
                                    </div>
                                </div>
                                <!--End single accordion box-->
                                <!--Start single accordion box-->
                                <div class="accordion accordion-block">
                                    <div class="accord-btn">
                                        <h3>
                                            Q2. Where can I find my tracking number?
                                        </h3>
                                    </div>
                                    <div class="accord-content">
                                        <p>
                                            Your tracking number is sent to you via email 
                                            or SMS after your order is confirmed. It can also be found in your order confirmation receipt.
                                        </p>
                                    </div>
                                </div>
                                <!--End single accordion box-->
                                <!--Start single accordion box-->
                                <div class="accordion accordion-block">
                                    <div class="accord-btn">
                                        <h3>
                                            Q3. How often is tracking information updated?
                                        </h3>
                                    </div>
                                    <div class="accord-content">
                                        <p>
                                            Tracking information is updated in real time or at regular 
                                            intervals as your shipment moves through different checkpoints.
                                        </p>
                                    </div>
                                </div>
                                <!--End single accordion box-->

                                <!--Start single accordion box-->
                                <div class="accordion accordion-block">
                                    <div class="accord-btn bdrb">
                                        <h3>
                                            Q4. What should I do if my tracking number is not working?
                                        </h3>
                                    </div>
                                    <div class="accord-content">
                                        <p>
                                            If your tracking number is not working, please double-check for typing errors. If the issue persists, 
                                            wait a few hours and try again, or contact our support team for assistance.
                                        </p>
                                    </div>
                                </div>
                                <!--End single accordion box-->
                            </div>
                        </div>
                    </div>


                    <div class="col-xl-6">
                        <div class="faq-one__content">
                            <div class="accordion-box-one">
                                <!--Start single accordion box-->
                                <div class="accordion accordion-block">
                                    <div class="accord-btn">
                                        <h3>
                                            Q5. Why hasn’t my tracking status changed ? 
                                        </h3>
                                    </div>
                                    <div class="accord-content">
                                        <p>
                                            Tracking updates may be delayed due to customs clearance, weather conditions, 
                                            or transit delays. Please allow some time before checking again.
                                        </p>
                                    </div>
                                </div>
                                <!--End single accordion box-->
                                <!--Start single accordion box-->
                                <div class="accordion accordion-block">
                                    <div class="accord-btn">
                                        <h3>
                                            Q6. What should I do if my package is delayed?
                                        </h3>
                                    </div>
                                    <div class="accord-content">
                                        <p>
                                            If your package is delayed beyond the expected delivery date, 
                                            please contact our support team with your tracking number for further investigation.
                                        </p>
                                    </div>
                                </div>
                                <!--End single accordion box-->
                                <!--Start single accordion box-->
                                <div class="accordion accordion-block">
                                    <div class="accord-btn">
                                        <h3>
                                            Q7.Can I change my delivery address after shipment?
                                        </h3>
                                    </div>
                                    <div class="accord-content">
                                        <p>
                                            Address changes may be possible before delivery, 
                                            depending on the shipment status. Please contact customer support as soon as possible.
                                        </p>
                                    </div>
                                </div>
                                <!--End single accordion box-->

                                <!--Start single accordion box-->
                                <div class="accordion accordion-block">
                                    <div class="accord-btn">
                                        <h3>
                                            Q8. How do I know when my package has been delivered?
                                        </h3>
                                    </div>
                                    <div class="accord-content">
                                        <p>
                                            Once your package is delivered, the tracking status will update to “Delivered”,
                                             and you may receive a confirmation notification.
                                        </p>
                                    </div>
                                </div>
                                <!--End single accordion box-->

                                <!--Start single accordion box-->
                                <div class="accordion accordion-block">
                                    <div class="accord-btn">
                                        <h3>
                                            Q9. Is my tracking information secure?
                                        </h3>
                                    </div>
                                    <div class="accord-content">
                                        <p>Yes, we use secure systems to protect your tracking data and ensure your information remains private.</p>
                                    </div>
                                </div>
                                <!--End single accordion box-->

                                <!--Start single accordion box-->
                                <div class="accordion accordion-block">
                                    <div class="accord-btn bdrb">
                                        <h3>
                                            Q10.Who do I contact for tracking issues?
                                        </h3>
                                    </div>
                                    <div class="accord-content">
                                        <p>
                                            For any tracking-related issues, you can contact our customer support team via email, phone, or live chat.
                                        </p>
                                    </div>
                                </div>
                                <!--End single accordion box-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End FAQ One-->









        <!--Start Cta One-->
        <section class="cta-one cta-one--style2">
            <div class="container">
                <div class="cta-one__inner cta-one__inner--style2">
                    <div class="cta-one__inner-box cta-one__inner-box--style2">
                        <div class="title-box">
                            <h2>Efficiency in Motion Connecting the<br>World One Delivery at a Time!</h2>
                        </div>
                    </div>
                    <div class="cta-one__btn cta-one__btn--style2">
                        <a href="/contact" class="thm-btn">
                            <span class="txt">
                                contact us
                            </span>
                        </a>
                    </div>

                </div>
            </div>
        </section>
        <!--End Cta One-->

             
        <%- include('../layout/client_footer.ejs') %>


</body>



</html>