<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<body style="font-family: Arial; background:#f4f6f8; padding:20px;">
  <div style="max-width:600px; background:#ffffff; margin:auto; padding:20px; border-radius:6px;">
    
    <h2> New Message From FireFoxExprex User  </h2>

    <p>Hello,</p>

    <p>You have a message from <strong><%= username %></strong>.</p>
    <p>checkout the message for a reply</p>

    <hr>

    <p><strong>Name:</strong></p>
    <p><%= username %></p>
    <p><strong>Email:</strong></p>
    <p><%= email %></p>
    <p><strong>Phone:</strong></p>
    <p><%= phone %></p>
    <p><strong>subject:</strong></p>
    <p><%= subject %></p>
    <p><strong>Your Message:</strong></p>
    <p><%= message %></p>

    <hr>

    <p><b>Thanks</b></p> <br>
    <p>
    FireFoxExprex Logistics<br>
    support@FireFoxExprex.com
    </p>


    <hr>

    <small>
      FireFoxExprex Logistics<br>
      support@FireFoxExprex.com
    </small>
  </div>
</body>
</html>