 <!--Start Footer Three-->
        <footer class="footer-three">
            <!-- Start Footer Main -->
            <div class="footer-main footer-main__three">
                <div class="container">

                    <div class="footer-main__inner">
                        <div class="row">
                            <!--Start Single Footer Widget-->
                            <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".1s">
                                <div class="single-footer-widget single-footer-widget--3">
                                    <div class="foother-three__logo">
                                        <a href="/">
                                            <h2 class="text-warning">FireFoxExprex</h2>
                                            <!-- <img src="assets/img/resource/footer-logo-3.png" alt="Awesome Logo"> -->
                                        </a>
                                    </div>
                                    <div class="single-footer-widget__socel-link">
                                        <div class="text">
                                            <p>We are the best Shipping Company IN Africa</p>
                                        </div>
                                        <div class="socel-link-box">
                                            <ul class="clearfix">
                                                <li>
                                                    <a href="https://wa.link/1svtfa">
                                                        <i class="bi bi-whatsapp"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="t.me/FireFireFoxExprex">
                                                        <i class="bi bi-telegram"></i>
                                                    </a>
                                                </li>
                                               
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End Single Footer Widget-->
                            <!--Start Single Footer Widget-->
                            <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".2s">
                                <div class="single-footer-widget single-footer-widget-contact--3">
                                    <div class="title">
                                        <h3>Contact</h3>
                                    </div>
                                    <div class="single-footer-widget__contact-info single-footer-widget__contact--3">
                                        <div class="text">
                                            <p> This is our contact information </p>
                                        </div>
                                        <ul class="clearfix">
                                            <li>
                                                <div class="icon">
                                                    <span class="icon-envelope"></span>
                                                </div>
                                                <p><a href="mailto:info@example.com">info@example.com</a></p>
                                            </li>
                                            <li>
                                                <div class="icon">
                                                    <span class="icon-location-pin"></span>
                                                </div>
                                                <p>6391 Elgin St. Celina, 10299</p>
                                            </li>
                                            <li>
                                                <div class="icon">
                                                    <span class="icon-phone-call-1"></span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--End Single Footer Widget-->

                           
                            <!--End Single Footer Widget-->

                            

                        </div>
                    </div>
                </div>
            </div>
            <!-- End Footer Main -->

            <!--Start Footer Bottom -->
            <div class="footer-bottom footer-bottom-three">
                <div class="container">
                    <div class="footer-bottom__inner footer-bottom__inner-three">
                        <div class="copyright-text">
                            <p>© FireFoxExprex 2025 | <a href="index.html">FireFoxExprex</a>, All Rights Reserved.</p>
                        </div>


                        <div class="copyright-menu">
                            <ul>
                                <li>
                                    <p><a href="#">Trams &amp; Condition</a></p>
                                </li>
                                <li>
                                    <p><a href="#">Privacy Policy</a></p>
                                </li>
                                <li>
                                    <p><a href="/contact">Contact Us</a></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Footer Bottom -->
        </footer>
        <!--Start Footer Three-->

    </div>


    <!--Start Search Popup -->
    <div class="search-popup">
        <div class="search-popup__overlay search-toggler">
            <div class="search-close-btn">
                <i class="icon-plus"></i>
            </div>
        </div>
        <div class="search-popup__content">
            <form action="#">
                <label for="search" class="sr-only">search here</label>
                <input type="search" id="search" placeholder="Search Here..." />
                <button type="submit" aria-label="search submit" class="btn-one">
                    <i class="icon-search-interface-symbol"></i>
                </button>
            </form>
        </div>
    </div>
    <!--End Search Popup -->


    <!-- Scroll-top -->
    <button class="scroll-top scroll-to-target" data-target="html">
        <i class="icon-arrowhead-up"></i>
    </button>
    <!-- Scroll-top-end-->






    <!-- JS here -->
    <script src="assets/js/jquery-3.6.0.min.js"></script>
    <script src="assets/js/01-ajax-form.js"></script>
    <script src="assets/js/02-bootstrap.min.js"></script>
    <script src="assets/js/03-jquery.appear.js"></script>
    <script src="assets/js/04-swiper.min.js"></script>
    <script src="assets/js/05-jquery.odometer.min.js"></script>
    <script src="assets/js/06-jquery.magnific-popup.min.js"></script>
    <script src="assets/js/07-jquery.nice-select.min.js"></script>
    <script src="assets/js/08-slick.min.js"></script>
    <script src="assets/js/09-wow.min.js"></script>
    <script src="assets/js/10-jquery.circleType.js"></script>
    <script src="assets/js/11-jquery.lettering.min.js"></script>
    <script src="assets/js/12-TweenMax.min.js"></script>
    <script src="assets/vendor/jarallax/jarallax.min.js"></script>
    <script src="assets/vendor/marquee/marquee.min.js"></script>
    <script src="assets/vendor/odometer/odometer.min.js"></script>




    <script src="assets/js/main.js"></script>